---
import Container from "@components/container.astro";
import { Image } from "astro:assets";
import logo from "../../assets/logo.png";
import { Astronav } from "astro-navbar";
---

<Container>
  <header class="my-5 flex flex-col items-center justify-between lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/" class="text-lg flex items-center gap-3">
          <Image src={logo} style="width: 32px" alt="Senior Protect logo." />
          <span class="font-bold text-primary">Senior Protect</span>
        </a>
      </div>
    </Astronav>
  </header>
</Container>
