---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Vidéo en direct",
    description: "Surveillez vos proches en temps réel grâce à un flux vidéo fluide et sécurisé, accessible depuis votre smartphone.",
    icon: "bx:bxs-video",
  },
  {
    title: "Vision nocturne",
    description: "Une surveillance continue 24h/24 grâce à la vision nocturne qui permet une détection efficace même dans l'obscurité.",
    icon: "bx:bxs-moon",
  },
  {
    title: "Détection intelligente",
    description: "Notre système analyse les mouvements pour détecter instantanément les chutes et les situations à risque.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Analyses détaillés",
    description: "Suivez l'activité et les tendances grâce à des graphiques et rapports détaillés, pour une meilleure prévention des risques.",
    icon: "bx:bxs-bar-chart-alt-2",
  },
  {
    title: "Alertes instantanées",
    description: "Recevez des notifications en temps réel sur votre smartphone en cas de chute ou de situation anormale détectée.",
    icon: "bx:bxs-bell",
  },
  {
    title: "Enregistrements vidéo",
    description: "Tous les enregistrements vidéo sont stockés en sécurité dans le cloud et consultables à tout moment.",
    icon: "bx:bxs-cloud",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-primary">Tout ce dont vous avez besoin</h2>
  <p class="text-lg mt-4 text-slate-600">
    Senior Protect est un concentré de technologie. Découvrez toutes les fonctionnalités disponibles à portée de main.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-primary rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-primary">{item.title}</h3> <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
